.favorites {
    @extend %sectionStyle;

    &:hover {
        @extend %headerHover;
    }

    .container {
        @include grid(300px);
        align-items: center;
    }

    &_box {
        padding: 30px;
        color: #fff;
        @include flex($dir: column);
        background-color: $light_bg;
        height: 300px;
        // box-shadow: 0 0px 20px 0px #0e172a;
        box-shadow: $main_shdw;

        &_icon {

            padding: 10px 20px;
            color: $secondary_color;
            background-color: #fff;
            border-radius: 50%;

            svg {
                font-size: 70px;
            }
        }

        &_title {
            margin: 10px 0;
            font-size: 25px;
            text-transform: capitalize;
            color: $secondary_color;
        }

        &_text {
            text-align: center;
            color: #eee;
        }
    }
}