@function rem($value) {
    $remvalue: $value;
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

@mixin flex($justify: center, $align: center, $gap: 10, $dir: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: rem($gap);
    flex-direction: $dir;
}

@mixin grid($min, $gap: 10) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(rem($min), 1fr));
    gap: rem($gap);
}

@mixin grid-fr($fr) {
    display: grid;
    grid-template-columns: $fr;
}

@mixin marker($color: #000) {
    border: 1px solid $color ;
}