@import 'vars.scss';
@import 'PlaceHolders.scss';
@import 'globals.scss';

.portfolio {
    @extend %sectionStyle;

    &:hover {
        @extend %headerHover;
    }

    .container {
        position: relative;

        .direction {
            display: flex;
            justify-content: space-between;
            color: #fff;
            margin: 40px 0;

            &>div {
                color: $secondary_color;
                font-weight: bold;
                cursor: pointer;

            }
        }

        // &::after{
        //     content: '';
        //     position: absolute;
        //     bottom: 5px;
        //     right: 15px;
        //     width: 150px;
        //     height: 89.5%;
        //     background-image: linear-gradient(to left,rgba(#111,.5),rgba(#fff,0))
        // }
        .boxes {
            @include grid($min: 400);

            @media (max-width: 768px) {
                @include grid-fr(1fr);
            }

            .box {
                position: relative;
                color: $gray_light_color;
                margin: 0 10px;
                max-width: 100%;

                &:hover {
                    .overlay {
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                        z-index: 1;
                        visibility: visible;
                    }
                    .img{
                        img{
                            transform: translateY(-85%);
                        }
                    }
                }

                .overlay {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: rgba(#fff, .7);
                    width: 0;
                    height: 0;
                    width: 0;
                    border-radius: 20px;
                    overflow: hidden;
                    transition: $normal_transition;
                    visibility: hidden;
                    @include flex($dir: column);
                    .category {
                        color: #999;
                        text-transform: capitalize;
                    }

                    .title {
                        color: #999;
                        opacity: .8;
                        text-transform: capitalize;
                        font-size: 40px;
                        font-weight: 400;
                    }
                    .techs{
                        display: flex;
                        column-gap: rem(10);
                        .item{
                            color: $secondary_color;
                            font-size: 10px;
                            font-weight: 700;
                            text-transform: uppercase;
                            background-color: #fff;
                            padding: 5px;
                            border-radius: 10px;
                        }
                    }
                    .btn {
                        margin: 10px 0;
                        padding: 10px 20px;
                        text-transform: capitalize;
                        font-weight: 500;
                        border: 1px solid #999;
                        border-radius: 20px;
                        color: #999;
                        transition: $normal_transition;
                            transform: scale(1);
                        &:hover {
                            transform: scale(1.1)
                        }
                    }
                }

                .img {
                    width: 100%;
                    height: 300px;
                    transition: $speed_transition;
                    border-radius: 20px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 2000px !important;
                        object-fit: cover;
                        transition: 8s cubic-bezier(0, 0, .2, .5);
                        transform: translateY(0);
                        top: 0 !important;
                    }
                }

                .info {
                    @include flex($dir: column);

                    .title {
                        text-align: center;
                        font-weight: bold;
                        margin: 20px 0;
                        color: $secondary_color;
                    }

                    .desc {
                        padding: 0 80px;
                        line-height: 2.5;
                        font-size: 13px;
                        word-spacing: 2px;
                    }



                    .btn {
                        padding: 7px 20px;
                        margin: 30px auto;
                        width: fit-content;
                        border: 1px solid $secondary_color;
                        text-align: center;
                        cursor: pointer;
                        color: #fff;
                        transition: $speed_transition;

                        @media (max-width:500px) {
                            margin: 0 !important;
                        }

                        &:hover {
                            background-color: $secondary_color;
                        }
                    }
                }

            }
        }
    }
}

.project__details {
    @extend %pageBG;
    position: relative;
    height: calc(90vh);

    .page_title {
        padding: 20px 0;
        text-transform: capitalize;
        color: $secondary_color  !important;
    }

    &__container {
        @include grid-fr(1fr 800px);

        &--img {
            width: 400px;
            height: 600px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &--info {
            color: #fff;

            &__title {
                font-weight: 700;
                font-size: 20px;
                padding: 10px 0;
            }


            &__tools {
                &__title {
                    padding: 10px 0;
                    font-weight: 900;
                    font-size: 13px;
                    color: lighten($secondary_color, 20);
                }
            }
        }

    }

}
