// padding
$padding_main_section: rem(100);
$padding_branch_section: rem(50);

// Colors
$dark-color: #000814;
// $primary-color: #001D3D;
$primary-color: #000814;
$primary_light-color: #003566;
$secondary-color: rgb(109, 131, 242);
$secondary_light-color: rgb(109, 131, 242);
$red_color: #4361ee;
$box_color: #e0e7f7;
$speed-transition: .3s;
$main_bg: rgba(#e2eafc, .4);
$light_bg: #232323;

$nav_height: 10vh;
// $primary_color: #14213d;
$primary_color: #191919;
$primary_darker_color: #000814;
$secondary_color: rgb(109, 131, 242);
$alert_color: #e91e63;
$gray_light_color: #e5e5e5;
$gray_darker_color: #777;
$main_transition_duration: .4s;
$padding_section: 100px;

// $blue_gradiant_1:#e2eafc;
$blue_gradiant_1: #e2eafc66;
// $blue_gradiant_1:#fce2e2;
$blue_gradiant_2: #d7e3fc;
$blue_gradiant_3: #ccdbfd;

// $red_color: #e71d36;
$green_color: #2ec4b6;

$main_Shadow: 0 1px 15px 3px rgba($primary-color, .1);

$slow_transition: all .75s cubic-bezier(0, 0, .2, 1);
$normal_transition: all .3s ease-in;


// shadows 
$main_shdw: #0000000d 0px 5px 10px;