@import 'vars.scss';
@import 'PlaceHolders.scss';

.footer {
    background-color: $light_bg;
    padding: 50px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo { 
            margin-bottom: 40px;
        }

        .links {
            display: flex;

            li {
                cursor: pointer;
                a {
                    color: $gray_light_color;
                    padding-left: 15px;
                    padding-right: 15px;
                    transition: $main_transition_duration;
                    text-transform: capitalize;

                    &:hover {
                        color: $secondary_color;
                    }
                }
            }
        }

        .text {
            color: $gray_light_color;
            padding-top: 30px;
        }
    }
}