@import './vars.scss';

%headerHover {
    .section-header {
        color: #fff;

        .header {
            border-left: 1px solid #fff;
            border-bottom: 1px solid $secondary_color;

            &::before {
                width: 90%;
                opacity: 1;

            }

            &::after {
                height: 70%;
                opacity: 1;

            }

        }
    }
}

%pageBG {
    background-color: #191919;
}

%sectionStyle {
    background-color: #191919;
    padding: $padding_section 0;
}

@mixin grid($minColumn) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($minColumn, 1fr));
    gap: 40px;
}